<div class="container mt-2 p-4 ">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4 border shadow-sm p-4">
      <h1 class="text-center">Mon Profile</h1>
    </div>
    <div class="text-center mt-4">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large", alt: "avatar" %>
    </div>
    <div class="logout text-center mt-3">
      <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "btn btn-primary rounded" %>
    </div>
  </div>
</div>
