<div class="container mt-4 p-4">
  <div class="row justify-content-center">
    <div class="col-md-4 border shadow-sm mt-4 p-4">
      <% if @available_platforms.any? %>
      <h2>Available Streaming Platforms</h2>
      <ul>
        <% @available_platforms.each do |platform| %>
        <li><%= platform["name"] %></li>
        <% end %>
      </ul>
      <% else %>
      <p>No streaming platforms are available for this content.</p>
      <% end %>
    </div>
  </div>
</div>
