<div class="validation-screen">
  <img src="<%= image_path('bobine.svg') %>" class="film-reel left" alt="Bobine de film gauche">
  <img src="<%= image_path('bobine.svg') %>" class="film-reel right" alt="Bobine de film droite">
  <div class="platforms-container">
    <% if @available_platforms.any? %>
    <% @available_platforms.each do |platform| %>
    <div class="provider">
      <%= link_to(platform_logo(platform["name"]), platform["url"], target: "_blank") %>
    </div>
    <% end %>
    <% else %>
    <p class="no-platforms">No streaming platforms are available for this content.</p>
    <% end %>
  </div>
  <div class="session-text">Bonne Séance !</div>
</div>
