<div class="container">
  <div class="row mt-4">
    <div class="col">
      <% if @item_details.present? %>
        <h1><%= @item_details["title"] || @item_details["name"] %></h1>
        <p><%= @item_details["overview"] %></p>

        <%= button_to 'Add to Favorites', favorites_path, method: :post, params: { tmdb_id: @item_details["id"], media_type: @item_details["media_type"] } %>
      <% else %>
        <p>Détails non disponibles.</p>
      <% end %>
    </div>
  </div>
</div>
