// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$main-background:linear-gradient(to bottom, #990000, #341111, #990000);

.main-background-color {
  background: $main-background;

}
