<div class="container">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Titre</th>
        <th>Aperçu</th>
      </tr>
    </thead>
    <tbody>
      <% @favorites_details.each do |favorite_detail| %>
        <% if favorite_detail.present? %>
          <tr>
            <td>
              <% if favorite_detail["title"].present? || favorite_detail["name"].present? %>
                <h3><%= favorite_detail["title"] || favorite_detail["name"] %></h3>
              <% else %>
                <p class="text-muted">Détails non disponibles.</p>
              <% end %>
              <p><%= favorite_detail["overview"] %></p>
            </td>
            <td>
              <%= image_tag "https://image.tmdb.org/t/p/w500/#{favorite_detail["poster_path"]}", alt: "#{favorite_detail["title"] || favorite_detail["name"]} poster", class: "img-fluid rounded" %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
