<div class="colorindex" style="text-decoration: none;">
  <div class="container mt-4 p-4">
    <div class="border shadow-sm mt-4 p-4">
      <div class="text-center textecolor">
        <h1><strong>Mes Favoris</strong></h1>
        <div class="horizontal-line"></div>
      </div>
      <div class="d-flex flex-row flex-wrap justify-content-between">
        <% @favorites.each do |favorite| %>
          <div class="col-4 mb-4 pr-3">
            <%= link_to(seance_path(id: favorite.tmdb_id, type: favorite.media_type)) do %>
              <div class="movie-container">
                <%= image_tag "https://image.tmdb.org/t/p/w500/#{favorite.image_url}", class: "movie-image" %>
              </div>
            <% end %>
            <div class="mt-1">
              <%= link_to favorite_path(favorite), data: { turbo_method: :delete, turbo_confirm: 'Êtes-vous sûr?' } do %>
                <i class="far fa-trash-can white-icon movie-delete"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
