.colorindex {
  background-color: #341111;
}

.white-icon {
  color: white !important;
}

.textecolor {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-weight: bold; /* Utilisez "bold" à la place de "700" pour la propriété font-weight */
  line-height: 150%;
  letter-spacing: -0.264px;
}

.horizontal-line {
  width: 270px;
  height: 5px;
  background-color: #FFF;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .container {
    max-height: none;
    overflow-y: visible;
  }
}
// .movie-card {
//   position: relative;
//   border: 1px solid #ddd;
//   border-radius: 8px;
//   overflow: hidden;
//   margin: 10px;
// }

// .movie-image {
//   overflow: hidden;
// }

// .movie-image img {
//   width: 100%;
//   height: auto;
//   object-fit: cover;
// }

// .movie-details {
//   padding: 10px;
// }

// .movie-delete {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   padding: 10px;
//   background-color: rgba(255, 255, 255, 0.8);
// }
