
.colorindex {
  background: linear-gradient(to bottom, #990000, #341111, #990000);
  min-height: 100vh;
}


.white-icon {
  color: white !important;
  float: right;
  margin-top: -10px;
  height: 20px;
  // width: 25px;
}
.textecolor {
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: bold;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.264px;
}

.horizontal-line {
  width: 270px;
  height: 5px;
  background-color: white;
  margin: 10px 0;
  margin: 20px auto;
}

.title-color {
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 36px */
letter-spacing: -0.264px;
}
* {
  box-sizing: border-box;
}
