@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

.custom-label {
  content: none;
  margin-left: 13px;
  margin-bottom: 5px;
}

.form-screen {

  width: 100%;
  height: 100vh;
  margin: auto;
  background: #551c1c;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.title {
  margin-top: 15px;
  margin-bottom: 25px;
  color: #FFF;
  text-align: center;
  font-family: Inter;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.264px;
  border-bottom: 3px solid white;
  padding-bottom: 10px;
  display: inline-block;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.form-control {
  background: #FFF;
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 20px;
  width: 302px;
  height: 42px;
  flex-shrink: 0;
  color: #000;
  font-family: Inter;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.154px;
  z-index : 1;
}
.form-control:focus {
  outline: none;
}

.form-control:focus {
  border: 2px solid rgb(255, 4, 4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.form-control {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-group {
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index : 1;
}

.btn.search {
  position: fixed;
  bottom: 65px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.176px;
  width: 134px;
  height: 44px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background: #1C1C1C;
  box-shadow: 0px 4px 4px 0px #000;
  cursor: pointer;
  z-index : 1;
}

.form-check-input {
  margin-right: 5px;
  margin-bottom: 5px;
  color: #ffffff;
}

#advanced-search-toggle-container {
  margin-bottom: 5px;
}

#advanced-search-toggle {
  color: white;
  cursor: pointer;
}

.advanced-search-link {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  gap: 8px;
  z-index : 1;
}
.search-icon {
  fill: currentColor;
  width: 1em;
  height: 1em;

}

#advanced-search-fields {
  color: white;
  display: none;
  margin-bottom: 2px;
  z-index : 1;
}

.form-check-group {
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 5px;
  color: white;
  cursor: pointer;
  input[type="radio"] {
    accent-color: black;
    width: 14px; /* Ajuster la taille du bouton radio */
    height: 14px;
  }
  z-index : 1;
}

.form-check input[type="radio"]:checked {
  background-color: white;
  width: 14px;
  height: 14px;
  color: #000000; /* Changer la couleur de fond lorsque sélectionné */
}

.ellipse {
  position: fixed;
  width: 200px;
  height: 200px;
  background-color: red;
  border-radius: 50%;
  box-shadow: 0 0 80px 40px red;
  opacity: 1;
  filter: blur(80px);

}

.ellipse-left {
  left: -35%;
  bottom: -30px;
}

.ellipse-right {
  right: -35%;
  bottom: -30px;
}
