
.profile-footer{
  padding-bottom: 25px;
}

.back-button{
  display: none;
}


.user_current_password{
  display: flex !important;
  flex-direction: column!important;
  align-items: center!important;
}
.form-text{
  color: #FFF!important;
  text-align: center;
}




@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */


  .back-button{
    display: revert;
    position: relative;
    top: 25px;
  }

}
