.profile-header{
  width: 100%;
  height: 137px;
  flex-shrink: 1;
  background: #FFF;
  align-items: center;
  align-self: flex-start;
}

.main-container{
  overflow-y: auto !important;
}

.profile-body{

  color: #FFF!important;
  }


.profile-footer{
  padding-bottom: 25px;
}


.profile-avatar{
  position: relative;
  bottom: 50px;
}
.back-button{
  display: none;
}


.avatar-large{
  display: none;
}
.icon{
  width: 26px;
  height: 64px;
  margin-left: 3px;
}

.icon-tv{
  width: 27px;
  height: 31px;
  margin-left: 5px;
}

.icon_next_1 {
  width: 28px;
  height: 52px;
  margin-left : 49px;
  right : 20px;
}

.icon_next_2 {
  width: 28px;
  height: 52px;
  margin-left : 5px;
}

.text-typography{
  color: #000;

  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 30px */
  letter-spacing: -0.22px;
  }
.user_current_password{
  display: flex !important;
  flex-direction: column!important;
  align-items: center!important;
}
.form-text{
  color: #FFF!important;
  text-align: center;
}




@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */

  .avatar-large{
    display: revert;
  }
  .back-button{
    display: revert;
    position: relative;
    top: 25px;
  }

}
