@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.selected {
  animation: pulse 0.5s infinite; /* Animation de pulsation */
  transition: background-color 0.5s ease; /* Transition de couleur de fond */

}

.platform-logo {
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  margin-right: 10px;
  width: 90px;
  height: 87px;
}

.platform-selection{
  flex-grow: 1;
  width: 33%;

}
