<%= javascript_include_tag 'controllers/home' %>
<div class=" " data-controller="landing">
  <div class="container landing-page justify-content position-relative">
    <div class="row justify-content-center">
      <div class="col mt-2">
        <div class="text-center cadre pt-4 mt-1">
          <h1><strong>CineSelect</strong></h1>
          <h2 class="slogan-title" id="slogan" style="display: none;"><strong>Vos critères, notre sélection ! </strong></h2>
        </div>
      </div>
    </div>
    <div class="loader mx-auto" style="margin-top: 60vh; display: none;"></div>
    <div class="container btn-container d-flex justify-content-center align-items-center">
      <% if current_user && current_user.selected_platforms.empty? %>
        <%= link_to "Allons-y", new_user_platform_path, class: "btn d-none", id: "bouton" %>
      <% elsif current_user %>
        <%= link_to "Allons-y", new_seance_path, class: "btn d-none", id: "bouton" %>
      <% else %>
        <%= link_to "Allons-y", new_user_session_path, class: "btn d-none", id: "bouton" %>
      <% end %>
    </div>
  </div>
</div>
