  <div class="container">
    <div class="row">
    <div class="col mt-4 text-center">
      <h1><strong>CineSelect</strong></h1>
    </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
    <div class="col mt-4 text-center">
      <h2 class="mt-4"><strong>Vos critères, notre sélection!</strong></h2>
    </div>
    </div>
  </div>
