.button-standard {

  width: 159px;
  height: 42px;
  padding: 10px;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 20px;
  color: #FFFFFF;
  background: #1C1C1C;
  box-shadow: 0px 4px 4px 0px rgba(255, 254, 254, 0.58);
  text-decoration: none;

}

.profile-body-button {
  width: 270px;
  height: 42px;
  border-radius: 20px;
  border: 2px solid #000;
  background: #FFF;
  color: rgb(0, 0, 0);
  text-align: center;

}
