.button-standard {


  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.176px;
  width: 134px;
  height: 54px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: none;
  background: #1C1C1C;
  box-shadow: 0px 4px 4px 0px #000;
  text-decoration: none;
}

.profile-body-button {
  width: 270px;
  height: 42px;
  border-radius: 20px;
  border: 2px solid #000;
  background: #FFF;
  color: rgb(0, 0, 0);
  text-align: center;

}
