

.movie-details {
  padding: 10px;
}

.col-4 {
  position: relative;
  min-height: 100px;
}
.container {
  min-height: 100vh;
}
.movie-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.movie-image {
  width: 100%;
  // height: %;
  object-fit: cover;
  border-radius: 8px;
}
.movie-delete {
  width: 100%;
  background-color: #341111;
  box-sizing: border-box;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
