.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
}
.navbar-nav-mobile{
  display: none;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .navbar-nav-mobile {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
    overflow: auto;
    position: fixed;
    white-space: nowrap;
    bottom: 0;
    width: 100%;
    background: #151010 !important;
    flex-shrink: 0;
    z-index: 1000;
  }
  .icon{
    width: 36px;
    height: 36px;
  }
  .navbar-lewagon {
    display: none;
  }
}
